:root{
  --color-accent:#EC8F3F;
  accent-color:var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;/* to avoid text too large size and maintain its proportion */
    margin-inline: auto;/* center the body horizontally */
    padding: 1em; /* add space inside the body */
}
nav {
  display: flex;/*lay out the children of nav for flexible box to display*/
  margin-bottom:1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:oklch(80% 3% 200); /*subtle bottom border */

}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}
 
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}   
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
}
input, 
textarea,
button{
  font: inherit;
}
label{
  display: block;/*making every element take a full line and stack vertically*/
}
/*typography*/
input,
textarea,
button {
  font: inherit;

/*top-down*/
  display: block;
  width:100%;
  box-sizing: border-box;
  margin-block:0.5em;
}
label{
  display: block;
  margin-block:0.5em;
}
.projects{
  display:grid;
  gap:1em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
.projects article{
  display:grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.projects h2{
  margin:0;
  font-size: 1.2em;
}