html{
  color-scheme: light dark;
}
:root{
  --color-accent:#EC8F3F;
  accent-color:var(--color-accent);
}
/*consistent fonts headings and typography*/

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;/* to avoid text too large size and maintain its proportion */
    margin-inline: auto;/* center the body horizontally */
    padding: 1em; /* add space inside the body */
}
nav {
  display: flex;/*lay out the children of nav for flexible box to display*/
  margin-bottom:1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:oklch(80% 3% 200); /*subtle bottom border */

}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}
 
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}   
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
}

form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem 1rem;
  max-width: 600px;
  width: 100%;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1; /* span full row */
}

input,
textarea {
  grid-column: 2;
  width: 100%;
}

button {
  grid-column: 1 / -1;
  width: 100%;
}


.projects{
  display:grid;
  gap:1em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
.projects article{
  display:grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.projects h2{
  margin:0;
  font-size: 1.2em;
}
.projects img{
  width:100%;
  border-radius:0.5em;
}
/*making contrast between diferent headings*/
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  text-wrap: balance;
}

h1{
  font-size: 400%;
}

section {
  margin-block: 2em;
}

article {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: 1.8em;
  margin-top: 2em;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 0.3em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

p {
  margin: 0.5em 0;
  line-height: 1.5;
}

ul {
  padding-left: 1.25em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}
